 @font-face {
     font-family:'maPolice1';
     src: url("fonts/foreland demo.ttf") format("TrueType");
 }
 @font-face {
    font-family:'maPolice2';
    src: url("fonts/Nemesis Grant.otf") format("OpenType");
}
@font-face {
    font-family:'maPolice3';
    src: url("fonts/Typori-Regular.ttf") format("TrueType");
}
@font-face {
    font-family:'maPolice4';
    src: url("fonts/Targa.ttf") format("TrueType");
}
@font-face {
    font-family:'maPolice5';
    src: url("fonts/absender1.ttf") format("TrueType");
}
@font-face {
    font-family:'maPolice6';
    src: url("fonts/Signatra.ttf") format("TrueType");
}
@font-face {
    font-family:'maPolice7';
    src: url("fonts/Sketch 3D.otf") format("OpenType");
}
@font-face {
    font-family:'maPolice8';
    src: url("fonts/SugarpunchDEMO.otf") format("OpenType");
}
@font-face {
    font-family:'maPolice9';
    src: url("fonts/Splatch.ttf") format("TrueType");
}
@font-face {
    font-family:'maPolice10';
    src: url("fonts/Unicorn Pop.ttf") format("TrueType");
}
 #bt1:hover {
   background-color: goldenrod;
   font-size: 16px;
   transition: 0.3s all ease;
}
#bt2:hover {
    background-color: goldenrod;
    font-size: 16px;
    transition: 0.3s all ease;
 }
body {
    background-color: gold;
}
#bt3:hover {
    background-color: goldenrod;
    font-size: 16px;
    transition: 0.3s all ease;
 }
 #bt4:hover {
    background-color: goldenrod;
    font-size: 16px;
    transition: 0.3s all ease;
 }
 .dropdown-toggle:hover #fleche {
     transform: rotate(180deg);
     transition: 0.4s all ease;
}
.dropdown:hover #fleche {
    transform: rotate(180deg);
    transition: 0.4s all ease;
}
.rs {
    width: 50px;
    height: 60px;
    box-shadow: -2px 1px 4px rgb(0, 0, 0);
    border-radius: 4px;
}
#rs {
    position:fixed; 
    left: 0px;
    top:150px;
    transition: 0.3s all ease;
}
.rs:hover {
    width: 60px;
    transition: 0.3s all ease;
}
#maDiapo {
    margin-top: 100px;
    border: 3px solid whitesmoke;
}
#test {
    width: 120px;
    height: 120px;
    margin-top: -50px;
    margin-left: -43px;
}
#bk:hover {   
    border: 0px solid none;
    border-radius: 100px;
    background-color: goldenrod;
    transition: 0.3s all ease;
}
#bk {
width: 67px;
}
#ctn:hover #lol {
    background-color: darkcyan;
    color: black;
    font-size: 20px;
    transition: 0.3s all ease;

}
#menuPresentation {
    margin-top: 100px;
}
.etp {
    background-color: turquoise;
}
#cp {
    background-color: rgba(41, 148, 41, 0.596);
    border: 3px solid whitesmoke;
    border-radius: 5px;
}
#cp:hover {
    background-color: rgba(41, 148, 41, 0.815);
    transition: 0.3S all ease;
}
#main {
    font-size: 20px;
}
#cp:hover #main {
    font-size: 25px;
    transition: 0.3s all ease;
}
#kimou:hover {
    border: 3px solid rgb(161, 49, 49);
    border-radius: 3px;
    box-shadow: -1px -1px 1px red;
    transition: 0.3s all ease;
}
#gchb:hover {
    border: 3px solid rgb(26, 7, 199);
    border-radius: 3px;
    box-shadow: -1px -1px 1px rgb(26, 7, 199);
    transition: 0.3s all ease;
}
#genship:hover {
    border: 3px solid rgba(20, 17, 170, 0.678);
    border-radius: 3px;
    box-shadow: -1px -1px 1px rgba(41, 26, 177, 0.582);
    transition: 0.3s all ease;
}
#mylunette:hover {
    border: 3px solid rgba(143, 149, 151, 0.582);
    border-radius: 3px;
    box-shadow: -1px -1px 1px rgba(143, 149, 151, 0.582);
    transition: 0.3s all ease;
}